:root {
  --secondary-color: #a5c9ca;
  --hero-font: "Edu NSW ACT Foundation", cursive;
}
h1,
h2 {
  text-align: center;
  color: white;
  font-family: var(--hero-font);
  font-weight: 700;
  font-size: 56px;
}
h2 {
  font-weight: 500;
}
body {
  background-color: #2c3333;
  margin-top: 200px;
}

.explore-btn {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.explore-btn a {
  text-decoration: none;
  font-family: var(--hero-font);
  color: white;
  font-size: 24px;
  border: solid 1px #fff;
  padding: 20px 15px;
}

.explore-btn a:hover {
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
}

.explore-section {
  margin-top: 220px;
}

.nav-custom {
  background-color: #525a5b !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.18);
  font-family: "PT Sans Narrow", sans-serif;
}
